/*  your css code here. If applicable */
table,th,td{
	border:1px solid black;
}
table{
	background-color:yellow;
	
}
p{
	position:relative;
	top:12px;
	left:32px;
	font-size:17px;
	font-weight:bold;
}